deta==1.1.0
gspread_pandas==3.2.2
numpy==1.24.1
pandas==1.5.3
protobuf==4.22.0
pycryptodome==3.17
python-dotenv==0.21.1
scikit_learn==1.2.1
streamlit==1.18.1
streamlit_authenticator==0.2.1
streamlit_option_menu==0.3.2
